/.tools/
/.venv/
/.venv-win/
/.venv-unix/
/build/
/build-win/
/build-unix/
/dist/
/dist-installer/
/pyinstaller-build/
/ConsoleSeq.exe
/ConsoleSeq-Setup.exe
*.pyd
console_seq/*.dll
*.so
*.dylib
*.pyc
__pycache__/
*.cseq
*.zip
